# 1. Basic Python

## 1.1. Variabel

1. Nama variabel tidak boleh diawali oleh angka.
2. Nama variabel hanya bisa terdiri dari karakter alpha-numeric dan underscore (A-z, 0-9, dan _ )
3. Nama variabel bersifat case sensitive. Artinya variabel nama berbeda dengan Nama atau naMA
4. Nama variabel tidak boleh reserved keywords https://realpython.com/lessons/reserved-keywords/

In [ ]:
# Menentukan nama variabel lalu mengisikan sebuah nilai
variabel = "Hello World!"
print(variabel)

Hello World!

In [ ]:
# TO DO: Buat variabel dan isikan nama kalian
namaku = "ali"
print("perkenalkan saya: " + namaku)

perkenalkan saya: ali

In [ ]:
# TO DO: Pilih nama variabel yang benar# @param ["2nama", "nama2", "lambda"]

In [ ]:
nama_var = "lambda" #@param ["2nama", "nama2", "lambda"]

In [ ]:
#@title
if nama_var == 'nama2':
  print('yeay benar!')
else:
  print('yah salah')

yeay benar!

## 1.2. Data Type

### 1.2.1. Numbers

In [ ]:
# Int
x = 1
print(type(x))

<class 'int'>

In [ ]:
# float
y = 1.5
print(type(y))

<class 'float'>

In [ ]:
#complex
z = 1j
print(z)
# print(type(z))

1j

### 1.2.2. String (text)

In [ ]:
print('singlequotes n\
asd')

singlequotes nasd

In [ ]:
print("double quotes singlequotes' '")

double quotes ndan vbla1 'singlequotes' '

In [ ]:
print(""" First line
          Second line
      """)

 First line
          Second line

In [ ]:
print('First line.\n Second line.')

First line.
Second line.

In [ ]:
print(r'C:\some\name')

C:\some\name

In [ ]:
# sebagai kalkulator
1+1

2

In [ ]:
# TO DO: buat contoh operator Addition

In [ ]:
x = 4
y = 2

In [ ]:
# Penjumlahan
penjumlahan = x + y
print(penjumlahan)

6

In [ ]:
# Pengurangan
pengurangan = x - y
print(pengurangan)

2

In [ ]:
# TO DO: isilah operasi dasar aritmatika pada x dan y

perkalian = x * y
pembagian = x / y
sisa = x % y
# pangkat = x°°


print(perkalian)
print(pembagian)
print(sisa)
# print(pangkat)

8
2.0
0

## 1.3. Operators

### 1.3.1. Arithmetic Operators

In [ ]:
x = 5
y = 2

In [ ]:
# Penjumlahan
penjumlahan = x + y
print(penjumlahan)

In [ ]:
# Pengurangan
pengurangan = x - y
print(pengurangan)

In [ ]:
# TO DO: isilah operasi dasar aritmatika pada x dan y

perkalian = None
pembagian = None
sisa = x % y
pangkat = None


print(perkalian)
print(pembagian)
print(sisa)
print(pangkat)

None
None
1
None

### 1.3.2. Comparison Operators

In [ ]:
# Lebih dari
lebih_dari = x > y
# print(type(lebih_dari))

<class 'bool'>

In [ ]:
# Kurang dari
kurang_dari = y < x
print(kurang_dari)

True

In [ ]:
# TO DO: isilah dengan menggunakan operator pembanding
sama_dengan = x == y #false
kurangdari_samadengan = x <= y #false
lebihdari_samadengan = x >=y #true
tidaksama = x != y #true

print(sama_dengan)
print(kurangdari_samadengan)
print(lebihdari_samadengan)
print(tidaksama)

False
False
True
True

### 1.3.3. Operator penugasan

In [ ]:
# Mengisikan variabel x dengan nilainya sendiri dan ditambah dengan nilai sebelah kan
x -=3 #5
print(x)
y +=2 #2
print(y)
# print(x+y)

2
4

In [ ]:
a = 1
a -= y
print(a)

-3

### 1.3.4. Logical Operators

In [ ]:
a = True
b = False
c = True

In [ ]:
# Operator AND
AND_t_f = a and b
AND_t_t = a or a
AND_f_f = b or b
print(AND_t_f,'=',AND_t_t,'=',AND_f_f)

True = True = False

In [ ]:
x = 6
y = 2
# operator and
AND = x > 4 and y == None
print(AND)

False

In [ ]:
# isilah dengan menggunakan operator NOT
NOT = None
print(NOT)

None

### 1.3.5. Operator bitwise

In [ ]:
biner1 = 5
biner2 = 2

In [ ]:
# Operator &
operator_and = 2 & 2
print(operator_and)

2

In [ ]:
# Operator |
operator_or = biner1 | biner2
print(operator_or)

7

## 1.4. List

### 1.4.1 Mengakses list

In [ ]:
data = [1,2,3,4,5]
print(data)

[1, 2, 3, 4, 5]

In [ ]:
data2=['a','b','c','d']
print(data2)

['a', 'b', 'c', 'd']

In [ ]:
bagian_data1 = data[2]
print(bagian_data1)

4

In [ ]:
bagian_data2 = data[-5]
print(bagian_data2)

# jika diakses dari belakang indeks List akan dimulai dari -1

1

In [ ]:
# TO DO: ambilah angka 3 pada list diatas
bagian_data3 = data[2]
print(bagian_data3)

3

In [ ]:
data.append(7)
print(data)

[1, 2, 3, 4, 5, 6, 7]

### 1.4.2. Memotong dan Merubah isi List

In [ ]:
#memotong dari indeks ke - 3 hingga indeks terakhir
bagian_data5 = data[2:]
print(bagian_data5)

[3, 4, 5, 6, 7]

In [ ]:
#memotong dari indeks awal hingga sebelum indeks ke - 4
bagian_data6 = data[:2]
print(bagian_data6)

[1, 2]

In [ ]:
#memotong dari indeks ke - -1 hingga sesudah indeks ke - -2, konsepnya berkebalikan dengan bagian_data5
bagian_data7 = data[:-2]
print(bagian_data7)

[1, 2, 3, 4, 5]

In [ ]:
# TO DO: ambilah angka 2,3, dan 4 dari list diatas
bagian_data8 = data[2:5]
print(bagian_data8)

[3, 4, 5]

In [ ]:
data3=[1,2,3,4,5,6,7,9,10]
#stride
bagian_data9 = data3[0:9:2]
print(bagian_data9)

[1, 3, 5, 7, 10]

In [ ]:
#merubah isi list dengan memotongnya dan mengganti 10,11,12
data3[1:4] = [11,12,13]
# [1,11,12,13,5,6,7,9,10]
print(data3)

[1, 11, 12, 13, 5, 6, 7, 9, 10]

In [ ]:
#menambhakan list
# print(data)
data3[1:4] = [2,3,4]
print(data3)

[1, 2, 3, 4, 5, 6, 7, 9, 10, 13]

In [ ]:
#remove
a = data3.remove(3)
print(data3)

[1, 4, 5, 6, 7, 9, 10, 13, 6, 7]

In [ ]:
# extend
print(data3.extend([6,7]))
print(data3)

None
[1, 4, 5, 6, 7, 9, 10, 13, 6, 7, 6, 7]

### 1.4.3. Multidimensional List

In [ ]:
#Menggabungkan dua buah list ke dalam satu variabel bernama kotak
data1 = [3,8,5,1,6]
data2 = [7,0,12,30,2]
data3 = [7,12,34,12,4]
kotak = [data1, data2]
print(kotak)

[[3, 8, 5, 1, 6], [7, 0, 12, 30, 2]]

In [ ]:
#mengakses data2
akses_kotak = kotak[1]
print(akses_kotak)

[7, 0, 12, 30, 2]

In [ ]:
#Mengakses data1 indeks ke = 1
# akses_kotak = kotak[0][1]
# print(akses_kotak)

#Mengakses data2 indeks ke = 3
akses_kotak = kotak[1][2]
print(akses_kotak)

12

In [ ]:
# TO DO: akseslah data2 indeks ke - 2
akses_kotak = kotak[0][2]
print(akses_kotak)

5

## 1.5 Tuple

In [ ]:
data = (1,2,3,4,4,4,5)
print(type(data))

<class 'tuple'>

In [ ]:
print(data.index(2))

1

In [ ]:
print(data.count(4))

3

## 1.7 Dictionary

In [ ]:
# contoh dict
data1 = {"absen":1,
         "Nama":"John Doe",
         "Pekerjaan":"Data Scientist"
        }
# print(data1)
print(data1["Nama"])

John Doe

In [ ]:
#keys
print(data1.keys())

dict_keys(['absen', 'Nama', 'Pekerjaan'])

In [ ]:
#values
print(data1.values())

dict_values([1, 'John Doe', 'Data Scientist'])

In [ ]:
#items
print(data1.items())

dict_items([('absen', 1), ('Nama', 'John Doe'), ('Pekerjaan', 'Data Scientist')])

In [ ]:
data1 = {"absen":1,
         "Nama":"John Doe",
         "Pekerjaan":"Data Scientist"
        }

data2 = {"NIM":2,
         "Nama":"Budi",
         "Pekerjaan":"Mahasiswa"
        }

database = {1:data1,2:data2}
# print(database)
# print(data2["Pekerjaan"])
print(database[2])

Mahasiswa

In [ ]:
b = {1,2,2,2,3,4}
c = tuple(b)
print(type(c),'-',type(b))

<class 'tuple'> - <class 'set'>

## 1.6 Set (Himpunan)

In [ ]:
buah = {"apel","jeruk","pisang"}
print(buah)

{'pisang', 'jeruk', 'apel'}

In [ ]:
# menambah buah anggur
buah.add("anggur")
print(buah)

{'anggur', 'pisang', 'jeruk', 'apel'}

In [ ]:
print(sorted(buah))

['anggur', 'apel', 'jeruk', 'pisang']

In [ ]:
# union
buah1 = {"manggis","mangga","jambu"}
print(buah.union(buah1))

{'pisang', 'anggur', 'jeruk', 'apel', 'mangga', 'jambu', 'manggis'}

In [ ]:
print(sorted(buah))

['anggur', 'apel', 'jeruk', 'pisang']

In [ ]:
# TO DO: buat lah intersection buah dan buah1

![image.png]()

## 1.8 if Else Statements

In [ ]:
if 1 < 2:
    print('Hello World!')

Hello World!

In [ ]:
if 1 > 2:
    print('hello')
else:
    print('world')

world

In [ ]:
if 1 == 2:
    print('Hello')
elif 2 == 3:
    print('world')
else:
    print('hello world')

hello world

## 1.9 Looping

### 1.9.1. for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for a in seq:
    print(a)

1
2
3
4
5

In [ ]:
for item in seq:
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in seq:
    print(i*i)

1
4
9
16
25

In [ ]:
for i in seq:
    print(i*i)

1
4
9
16
25

### 1.9.2. while Loops

In [ ]:
i = 3
while i < 7:
    print(i)
    i +=1

3
4
5
6

## 1.10. Function

### 1.10.1. Fungsi sederhana

In [ ]:
def fungsi():
  print('dfdf')
    # print("Hello World!")

# fungsi()

In [ ]:
fungsi()

dfdf

### 1.10.2. Fungsi dengan argumen

In [ ]:
def jumlah(angka1,angka2):
    hasil = angka1 + angka2
    print(hasil)

# jumlah(1,2)

In [ ]:
jumlah(1,3)

4

In [ ]:
# TO DO: buatlah fungsi * dengan satu argumen
def pangkat(angka1,angka2):
    hasil = angka1 * angka2
    print(hasil)

In [ ]:
pangkat(2,4)
jumlah(1,2)

8
3

### 1.10.3. Fungsi dengan return value

In [ ]:
def perkalian(angka1,angka2):
    hasil = angka1 * angka2
    print(hasil)

In [ ]:
perkalian(2,4)

8

In [ ]:
a = perkalian(1,2)

2

In [ ]:
print(a)

None

In [ ]:
def perkalian(angka1,angka2):
    hasil = angka1 * angka2
    return hasil

a = perkalian(2,3)
print(a)
# b = 10 + a
# print(b)

6

In [ ]:
a = perkalian(2,3)
print(a)
b = 10 + a
print(b)

6
6
16

In [ ]:
# TO DO: masukanlah fungsi perkalian ke dalam variabel a dan isi argumennya dengan fungsi penjumlahan, lalu cetak
def jumlah(angka1,angka2):
    hasil = angka1 + angka2
    return hasil

a = perkalian(2,jumlah(3,4))
print(a)

14

# Thanks
Feel free to contact me:


*   linkedIn: https://www.linkedin.com/in/ali-murtadho/
*   Github: https://github.com/alimurtadho
*   telegram: https://t.me/alimurtadho_id
*   medium: https://medium.com/@dho_aldho