In [24]:
import pandas as pd 
# from dotenv import load_dotenv
from dotenv import dotenv_values
from sqlalchemy import create_engine
import sqlalchemy as db

In [11]:
df = pd.read_csv('/Users/newuser/ali/project/notebook/dataset/analytics_assignment_data.csv')
df.tail()

            date  num_orders order_status   total_cbv      service
3205  2016-04-01           0        Other        18200     GO-FOOD
3206  2016-04-01           0        Other       152880     GO-GLAM
3207  2016-04-01          10        Other      1556100  GO-MASSAGE
3208  2016-04-01           0        Other        61880     GO-RIDE
3209  2016-04-01           0        Other        27300     GO-SHOP

In [6]:
data = df['date']

In [35]:
# Simulated data (replace with your actual data extraction)
source_data = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Carol'],
    'Salary': [50000, 60000, 70000]
})

# Load data into target table (replace with your actual target table)
target_table = pd.DataFrame()  # Initialize an empty DataFrame

# Concatenate the source data to the target table
target_table = pd.concat([target_table, source_data], ignore_index=True)

# Print the target table (initial load)
print("Target Table (Initial Load):\n", target_table)

Target Table (Initial Load):
    ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000
2   3  Carol   70000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3210 entries, 0 to 3209
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          3210 non-null   object
 1   num_orders    3210 non-null   int64
 2   order_status  3210 non-null   object
 3    total_cbv    3210 non-null   int64
 4   service       3210 non-null   object
dtypes: int64(2), object(3)
memory usage: 125.5+ KB

In [28]:
#connect ke database
config = dotenv_values(".env")
# print(config)
def con_db():
    url = "{d}://{u}:{p}@{h}:{port}/{db}".\
            format(d="postgresql",
            u=config['POSTGRES_USER'],
            p=config['POSTGRES_PASSWORD'],
            h=config['POSTGRES_HOST'],
            port=config['POSTGRES_PORT'],
            db=config['POSTGRES_DB'])
    engine = db.create_engine(url)
    return engine

# Instantiate sqlachemy.create_engine object
# engine = db.create_engine('postgresql://postgres:123qwe@localhost:5432/postgres')

In [29]:
con_db()

Engine(postgresql://postgres:***@localhost:5432/exam_sql)

In [39]:
def insert_csv():
    db = con_db().connect()
    df.to_sql(
        'test_insert', 
        db,
        schema='latihan', 
        if_exists='replace',
        index=False,
        index_label='id',
        method='multi'
        )
    db.close()
    return{"result":"procces insert data done"}

In [40]:
insert_csv()

{'result': 'procces insert data done'}